/unityProject/Library
/unityProject/.vs
/unityProject/Logs
/unityProject/UserSettings
/unityProject/obj

ExportedObj/
.consulo/
Logs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb


*.pidb.meta
*.pdb.meta

sysinfo.txt

*.apk
*.unitypackage
